{% extends "layout.html" %}

{% set pageId = "page-search-cadastro" %}

{% block styles %}
  <link rel="stylesheet" href="/styles/search-cadastro.css">
{% endblock styles  %} 

{% block title %}
  <title>Cidades com pessoas que precisam de Ajudas</title>
{% endblock title %}
    
{% block content %}
{% include "partials/page-header.html" %}
         
<main>

  {% if total > 0 %}
      <h4>
        <strong>{{total}} Cadastros</strong> encontrados
      </h4>

      <div class="cards">

        {% for ajuda in ajudas %}
          <div class="card">
            <img src="{{ ajuda.image }}" alt="{{ ajuda.name }}">
            <h1>{{ ajuda.name }}</h1>
            <div class="description">{{ ajuda.description }}</div>
            <p>
              {{ ajuda.city }}, {{ ajuda.state }} <br>
              {{ ajuda.address }} <br>
              {{ ajuda.address2 }}
            </p>
            <a href="{{ ajuda.contatos }}">WhatssAapp</a>
            <a href="{{ ajuda.contatos2 }}">Gmail</a>
          </div>

        {% endfor %}

      </div>

      {%else%}
      <h4><strong>Nenhuma</strong> ajuda encontrada</h4>

  {% endif %}

  
 
</main>
{% endblock content %}   
    
               
{% block scripts %}
  <script src="/scripts/cadastro.js"></script>
{% endblock scripts %}
